body{
    background-image: url(../Image/Background.png);
    width: 1366px;
    height: 768px; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 46px 178px 22px 245px;
    width: 1030px;
}
.about{
    display: flex;
    background-image: url(../Image/Logo1.svg);
    background-repeat: no-repeat;
    height: 47px;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 29px;
    font-weight: 700;
    line-height: 20px;
    width: 140px;
    margin-left: 8px;
    font-family: 'Roboto', sans-serif;
}
.about:hover{
    color: #F26522;
    background-image: url(../Image/Logo2.png);
}
.wrapper{
    text-decoration: none;
     margin-left: -100px; 
}
.about__title{
    margin-left: 64px;
  
}
.about__subtitle{
    font-size: 18px;
    line-height: 40px;
  
}
.adress{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 400;
    margin-right: 100px; 
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    text-align: right;
}
.email{
    text-decoration: none;
    color: #FFFFFF;
    margin-bottom: 19px;
}
.phone{
    text-decoration: none;
    color: #FFFFFF;
}
.email:hover{
    color: #F26522;
}
.phone:hover{
    color: #F26522;
}
.text{
    color: #fff;
    margin: 20px 0px 37px 0;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.photo{
    width: 300px;
    height: 220px;
}
.conteiner{
    display: grid;
    grid-template-rows: repeat(2, 220px);
    grid-template-columns: repeat(3, 300px);
    column-gap: 62px;
    row-gap: 78px;
    margin: 0 auto;
    width: 1027px;
    margin-left: 150px;
}
.column{
    position: relative;
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    background: rgb(0,0,0);
    border-image: linear-gradient(to bottom, #FFFFFF 0%,rgba(255,255,255,0) 100%);
}
.hallery{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    background-color:#F26522 ;
    overflow: hidden;
    width: 300px;
    height: 0;
    transition: .5s ease;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.hallery__item{
    margin-right: 25px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 400;
}
.hallery__item::after {
    content: "\203a";
    margin-left: 16px;
    font-size: 26px;
    padding-top: 6px;

} 
.column:hover .hallery{
    height: 55px;
}
.column:hover .text{
    color: #F26522;
}
.hallery__prise:nth-child(1){
    margin-bottom: 8px;
    font-size: 10px;
}
.hallery__prise:nth-child(2){
    margin-bottom: 12px;
    font-size: 20px;
}
.hallery__list{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}
.footer{
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    margin-top: 140px;
} 